BODY {
	SCROLLBAR-FACE-COLOR: #fcfcff; FONT-WEIGHT: normal; FONT-SIZE: 100%; BACKGROUND: #f9f9ff; SCROLLBAR-HIGHLIGHT-COLOR: #fcfcff; MARGIN-LEFT: 100px; SCROLLBAR-SHADOW-COLOR: #d0d0e8; COLOR: #000060; SCROLLBAR-3DLIGHT-COLOR: #d0d0e8; MARGIN-RIGHT: 100px; SCROLLBAR-ARROW-COLOR: #000060; SCROLLBAR-TRACK-COLOR: #d0d0e8; font-family: 'Nunito', sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000060
}
TABLE, TR, TD {
	MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt
}

P {
	marker-offset: 0pt
}
UL {
	MARGIN-TOP: 0.5ex; PADDING-LEFT: 1em; MARGIN-BOTTOM: 0.5ex; MARGIN-LEFT: 1em
}

OL {
	MARGIN-TOP: 0.5ex; PADDING-LEFT: 0em; MARGIN-BOTTOM: 0.5ex; MARGIN-LEFT: 1em
}
LI {
	MARGIN-TOP: 0ex; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 1em
}
H1,H2,H3,H4,H5,H6 {
	FONT-WEIGHT: 700;
}
h1 {
	font-size: 30px;
}
H2 {
	font-size: xx-large;
}
H3 {
	font-size: x-large;
}
H4 {
	font-size: large;
}
H5 {
	font-size: medium;
}
H6 {
	font-size: small;
}

A {
	FONT-WEIGHT: 700; TEXT-DECORATION: none
}
A:link {
	COLOR: #7777bb; TEXT-DECORATION: none
}
A:visited {
	COLOR: #7777bb; TEXT-DECORATION: none
}
A:hover {
	COLOR: #5252c5; TEXT-DECORATION: blink;
}
A IMG {
	BORDER-LEFT-COLOR: #000060; FILTER: alpha(opacity=100); BORDER-BOTTOM-COLOR: #000060; BORDER-TOP-COLOR: #000060; BORDER-RIGHT-COLOR: #000060; moz-opacity: 1
}
A:hover IMG {
	BORDER-LEFT-COLOR: #cc0033; FILTER: alpha(opacity=80); BORDER-BOTTOM-COLOR: #cc0033; BORDER-TOP-COLOR: #cc0033; BORDER-RIGHT-COLOR: #cc0033; moz-opacity: .5
}
A:link A:visited {
	COLOR: #000060; TEXT-DECORATION: none
}
.button {
	display:inline-block;
	padding: 10px 20px;
	margin:auto;
	border-radius: 12px;
	box-sizing: border-box;
	text-decoration:none;
	width: 280px;
	font-weight: 700;
	color: white !important;
	text-align:center;
	transition: all 0.2s;
	background: linear-gradient(to bottom right, dodgerblue, darkblue);
	white-space: normal; 
}
.button:hover {
    background: linear-gradient(to bottom right, #097def, #00004e);
	box-shadow: 1px 2px 3px grey;
}