BODY {
	SCROLLBAR-FACE-COLOR: #fcfcff; FONT-WEIGHT: normal; FONT-SIZE: 100%; BACKGROUND: url(/immagini/Sigillo_trasp.gif) #f9f9ff fixed no-repeat right bottom; SCROLLBAR-HIGHLIGHT-COLOR: #fcfcff; MARGIN-LEFT: 100px; SCROLLBAR-SHADOW-COLOR: #d0d0e8; COLOR: #000060; SCROLLBAR-3DLIGHT-COLOR: #d0d0e8; MARGIN-RIGHT: 100px; SCROLLBAR-ARROW-COLOR: #000060; SCROLLBAR-TRACK-COLOR: #d0d0e8; FONT-FAMILY: Sans-Serif, Arial Narrow, Verdana, Tahoma, Trebuchet MS,; SCROLLBAR-DARKSHADOW-COLOR: #000060
}
.round-bkg {
	MARGIN-TOP: 0pt; BACKGROUND-IMAGE: url(/immagini/grgrad2.gif); MARGIN-BOTTOM: 0pt; BACKGROUND-REPEAT: repeat-x
}
TABLE {
	MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt
}
TR {
	MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt
}
TD {
	MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt
}
P {
	marker-offset: 0pt
}
UL {
	MARGIN-TOP: 0.5ex; PADDING-LEFT: 1em; MARGIN-BOTTOM: 0.5ex; MARGIN-LEFT: 1em
}
UL {
	MARGIN-TOP: 0.5ex; PADDING-LEFT: 0em; LIST-STYLE-IMAGE: url(/immagini/lacam-bullet.gif); MARGIN-BOTTOM: 0.5ex; MARGIN-LEFT: 1em
}
OL {
	MARGIN-TOP: 0.5ex; PADDING-LEFT: 0em; LIST-STYLE-IMAGE: url(/immagini/lacam-bullet.gif); MARGIN-BOTTOM: 0.5ex; MARGIN-LEFT: 1em
}
UL.box {
	MARGIN-TOP: 0ex; PADDING-LEFT: 1em; MARGIN-BOTTOM: 0.5ex; MARGIN-LEFT: 2em; WIDTH: 75%
}
LI {
	MARGIN-TOP: 0ex; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 1em
}
UL.box LI {
	BORDER-RIGHT: 0.5pt inset; PADDING-RIGHT: 10px; BORDER-TOP: 0.5pt inset; MARGIN-TOP: 3px; PADDING-LEFT: 10px; FONT-SIZE: 100%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 1em; BORDER-LEFT: 0.5pt inset; PADDING-TOP: 10px; BORDER-BOTTOM: 0.5pt inset
}
H1 {
	MARGIN-TOP: 0.5ex; FONT-WEIGHT: 600; MARGIN-BOTTOM: 0ex; FONT-FAMILY: Verdana, Trebuchet MS, Arial, Lucida, Impact, Sans-serif
}
H2 {
	MARGIN-TOP: 0.5ex; FONT-WEIGHT: 600; MARGIN-BOTTOM: 0ex; FONT-FAMILY: Verdana, Trebuchet MS, Arial, Lucida, Impact, Sans-serif
}
H3 {
	MARGIN-TOP: 0.5ex; FONT-WEIGHT: 600; MARGIN-BOTTOM: 0ex; FONT-FAMILY: Verdana, Trebuchet MS, Arial, Lucida, Impact, Sans-serif
}
H4 {
	MARGIN-TOP: 0.5ex; FONT-WEIGHT: 600; MARGIN-BOTTOM: 0ex; FONT-FAMILY: Verdana, Trebuchet MS, Arial, Lucida, Impact, Sans-serif
}
H5 {
	MARGIN-TOP: 0.5ex; FONT-WEIGHT: 600; MARGIN-BOTTOM: 0ex; FONT-FAMILY: Verdana, Trebuchet MS, Arial, Lucida, Impact, Sans-serif
}
A {
	FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A:link {
	COLOR: #7777bb; TEXT-DECORATION: none
}
A:visited {
	COLOR: #7777bb; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0033; TEXT-DECORATION: blink
}
A IMG {
	BORDER-LEFT-COLOR: #000060; FILTER: alpha(opacity=100); BORDER-BOTTOM-COLOR: #000060; BORDER-TOP-COLOR: #000060; BORDER-RIGHT-COLOR: #000060; moz-opacity: 1
}
A:hover IMG {
	BORDER-LEFT-COLOR: #cc0033; FILTER: alpha(opacity=80); BORDER-BOTTOM-COLOR: #cc0033; BORDER-TOP-COLOR: #cc0033; BORDER-RIGHT-COLOR: #cc0033; moz-opacity: .5
}
.indice {
	MARGIN-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(/immagini/schedabkg.gif); MARGIN-BOTTOM: 1pt; COLOR: #666699; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Trebuchet MS, Verdana, Tahoma, Arial, Helvetica, Sans
}
.indice A:link {
	COLOR: #000080; TEXT-DECORATION: none
}
.indice A:visited {
	COLOR: #000080; TEXT-DECORATION: none
}
.indice A:hover {
	TEXT-DECORATION: underline
}
.exa {
	FONT-WEIGHT: bold; COLOR: #c00000; FONT-FAMILY: Courier, Lucida Console, Monospace
}
.menu1st {
	FONT-SIZE: 70%; FONT-FAMILY: Sans-serif, Trebuchet MS, Arial, Tahoma, Verdana, Sans serif; TEXT-ALIGN: center
}
.menu {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(/immagini/Sigillo_trasp.png); PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; COLOR: #000060; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Sans-serif, Trebuchet MS, Arial, Helvetica, Tahoma; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.menutxt {
	BACKGROUND-IMAGE: url(/immagini/grgrad2.gif); FONT-FAMILY: Sans-serif, Trebuchet MS, Tahoma, Arial, Verdana; BACKGROUND-COLOR: #f9f9ff
}
.menutxt A {
	COLOR: #000060; TEXT-DECORATION: none
}
A:link A:visited {
	COLOR: #000060; TEXT-DECORATION: none
}
.menutxt A:hover {
	COLOR: #000060; TEXT-DECORATION: overline
}
.scheda {
	BORDER-RIGHT: #d0d0e8 outset; BORDER-TOP: #d0d0e8 thin outset; FONT-WEIGHT: 600; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(/immagini/schedabkg.gif); BORDER-LEFT: #d0d0e8 thin outset; BORDER-BOTTOM: #d0d0e8 outset; BACKGROUND-REPEAT: repeat
}
.grande {
	FONT-SIZE: 300%; COLOR: #8080c0; FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial
}

table tr {

white-space:nowrap;

}

